<header>
  <img
    src="assets/img/profile.png"
    alt="Talita Santos - Foto de Perfil"
    height="130px"
    loading="eager"
  />
  <h1>Talita Santos</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedora: Typescript | Angular | Java | Quarkus</p>
    <p>Praia Grande, São Paulo, Brasil</p>
    <p>
      Atuo na área de desenvolvimento há mais de 2 anos. Amo programar e estou
      investindo no desenvolvimento da minha carreira para me tornar uma dev
      Front-End.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary"
            >Download CV</a
          >
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/talita-s/"
            target="_blank"
            class="btn btn-secondary"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5513921092784&text=Oi!"
            target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (13) 9 2109-2784</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:talitassantos2015@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>talitassantos2015&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
